@font-face {
    font-family: Ubuntu;
    src: url(../assets/font/Ubuntu-Bold.ttf) format("opentype");
    src: url(../assets/font/Ubuntu-Light.ttf) format("opentype");
    src: url(../assets/font/Ubuntu-Medium.ttf) format("opentype");
    src: url(../assets/font/Ubuntu-Regular.ttf) format("opentype");
  }

